.table-tambah-barang{
    overflow-x: auto;
    thead{
        background: #20b2aa;
        color:white;
    }
    .delete-table-tambah-barang{
        background: none;
        color:rgb(214, 8, 8);
        border:none;
        font-size: 20px;
        cursor: pointer;

        &:hover{
           color:rgb(243, 134, 134);
            border:none;
        }
    }
    .edit-table-tambah-barang{
        background: none;
        color:rgb(158, 158, 2);
        border:none;
        font-size: 20px;
        cursor: pointer;
        &:hover{
            color:rgb(190, 190, 83);
             border:none;
         }
    }

    h5{
        color:rgb(188, 179, 179) ;
    }

    
}

.body-modal-tambah-barang{
    background: #ECF0F0;
    color: rgb(154, 25, 25);
}

.footer-modal-tambah-barang{
    background:#ECF0F0 ;
    border: none;
}

.body-modal-edit-barang{
    background:  #ECF0F0;
    color: #878282;
    font-size: 15px;
}