.txt-barang-dijual{
    color:rgb(199, 7, 7);
}

.modal-header-jual{
    h5{
        color:white ;
    }
    
}

.body-modal-jual{
    background: #ECF0F0;
    color: rgb(63, 61, 61);
}

.footer-jual{
    background: #ECF0F0;
    border: none;
}
.form-select{
    width: 50%;
}