.bg-hasil-penjualan{
    background: #20b2aa;
    height:40px;
    border-radius: 20px;
    .title-hasil-penjualan{
    font-size: 25px;

    }
}


.icon-penjualan{
    font-size: 25px;
    color:rgb(3, 92, 3);
    cursor: pointer;
}
